
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.responsive {
    width: 100%;
    height: auto;
  }
  html, body {
    background-color: rgb(246, 190, 199);
}

button {
    margin: 1vw;
    width: 15vw;
    height: auto;
    align-items: center;

    font-size: 1.5vw;
}

#welcome_message {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
    text-align: center;

    font-size: 6vw;
    color: pink;
}

#banner {
    margin-top: 15vh;

    background-image: url(../images/banner.jpg);
    background-size: 100% auto;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(174, 174, 213);
    text-align: center;
    padding: 10px 0;
    margin-right: 5%;
  }


